body {
    width: 100vw;
    height: 100vh;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card {
    width: 30%;
    height: 70%;
    background-color: rgba(0, 0, 0, 40%);
    border: solid rgb(88, 4, 46) 2px;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.imagem1{width: 90%; height: 50%;border-radius: 20px;
}
.verprod{
    font-size: 30px;
    
}
.text{
    width: 200px; height: 50px; background-color: white; margin: 10px; align-items: center;display: flex;justify-content: center;
    border-radius: 10px;
    transition: all 0.3s;
}
.text:hover{
    background-color: rgb(217, 217, 217);
    cursor: pointer;
    transform: scale(1.05);
}