*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #f888d6;
    --secondary-color:#ff77d6;
    --terciary-color:#ffdef5;
}
#container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20241102/pngtree-elegant-collection-of-chocolates-on-a-pink-background-for-confectionery-designs-image_16487138.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#login{
    width: 20vw;
    height: 40vh;
    background-color:#fdb5e79d; 
    border-radius: 5%;
    padding-top: 20px;
    border-radius: 10%;
}
input{
    border-radius: 10px;
    border: none;
    height: 20px;
}   